<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Website</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <main>
            <section class="container-fluid px-0" id="header-section">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <a class="navbar-brand" href="/">GT</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <% if(currentUser){ %> 
                            <li class="nav-item ">
                                <a class="nav-link text-white" href="/latest">Latest</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/business">Business</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/technology">Technology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/health">Health</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/sports">Sports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/profile"><span><i class="fa fa-user-circle text-white" style="font-size: 22px;"></i></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/logout"><span><i class="fa fa-sign-out text-white" style="font-size: 22px;"></i></span></a>
                            </li>
                        <% }else{ %>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/register">Sign Up</a>
                            </li>
                        <% } %> 
                      </ul>
                      
                    </div>
                </nav>
                <div class="container">
                    <% if(error && error.length>0) {%>
                      <div class="alert alert-danger" role="alert">
                        <%= error %> 
                      </div> 
                    <% } %> 
                    <% if(success && success.length>0) {%>
                      <div class="alert alert-success" role="alert">
                        <%= success %> 
                      </div> 
                    <% } %> 
                <div class="jumbotron mb-0" style="text-align:center; background:none ;border-radius: 0;">
                    <div>
                        <h1 class="display-3 text-white">Global Tidings</h1>
                        <blockquote class="blockquote mt-5 text-white">
                            <p class="h3">"News is something somebody doesn't want printed; all else is advertising."</p>
                            <footer class="blockquote-footer text-white"><cite title="William Randolph Hearst">William Randolph Hearst</cite></footer>
                        </blockquote>
                        <p class="text-white mt-5 d-none d-sm-block">News has always caught the attention of the viewer. Be it catchy headlines or updated coverage, it's something everybody would glance through and show interest in.  (Name of website)   will never let it's reader down and provides all updated happenings around the globe. This Website pleases every component of news and provides an insightful knowledge on sectors of business, technology, sports and health. Whatever you ask, it's all here!</p>
                        <a href="/register" class="btn btn-outline-light btn-lg mt-lg-5 mt-2">Sign Up</a>
                    </div>
                </div>
            </section>
            <section class="container-fluid px-0 ">
                <div class="row align-items-center mr-0">
                    <div class="col-md-6 order-2 order-md-1 pr-0">
                        <img src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80" 
                        alt="Business Image" class="img-fluid">
                    </div>
                    <div class="col-md-6 px-0 order-1 order-md-2">
                        <div class="row justify-content-center align-items-center mr-0">
                            <div class="col-md-10 col-lg-8 text-center">
                                <h2 class="display-4 mb-md-4 text-center ml-4 ml-md-0 my-3 my-md-0">Business</h2>
                                <p class="lead text-center pl-4 px-md-0">
                                    In a fast-paced financial world, it is critical to stay updated. We bring to you the top news from popular sources like The Economic Times, Forbes, CNBC and many more.
                                </p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid px-0">
                <div class="row align-items-center mr-0">
                    <div class="col-md-6 pl-0">
                        <div class="row justify-content-center align-items-center" >
                            <div class="col-md-10 col-lg-8 text-center">
                                <h2 class="display-4 mb-md-4 text-center ml-4 ml-md-0 my-3 my-md-0">Technology</h2>
                                <p class="lead text-center pl-4 px-md-0">
                                    The access to modern day problems have been simplified by Technology. Technology being a vital part of our lives has always proved to make human life easier and this section is no less. From major technological development in IT sector to automobile industry to space research, here we have covered it all.
                                </p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <img src="https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" 
                        alt="Business Image" class="img-fluid">
                    </div>
                </div>
            </section>
            <section class="container-fluid px-0">
                <div class="row align-items-center mr-0">
                    <div class="col-md-6 order-2 order-md-1 pr-0">
                        <img src="https://images.unsplash.com/photo-1549890762-0a3f8933bc76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1735&q=80" 
                        alt="Business Image" class="img-fluid">
                    </div>
                    <div class="col-md-6 px-0 order-1 order-md-2">
                        <div class="row justify-content-center align-items-center mr-0" >
                            <div class="col-md-10 col-lg-8 text-center">
                                <h2 class="display-4 mb-md-4 text-center ml-4 ml-md-0 my-3 my-md-0">Health</h2>
                                <p class="lead text-center pl-4 px-md-0">
                                    It is said, "Health is Wealth" and maintaining a healthy living is the secret of a happy human. Health plays a huge role in the overall performance and efficiency of a human being hence one should never compromise on their health. We bring to you the latest news on Covid-19, its pharmaceutical researches, drug trials and the companies related to it and much more information about various health sectors.
                                </p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid px-0">
                <div class="row align-items-center mr-0">
                    <div class="col-md-6">
                        <div class="row justify-content-center align-items-center" >
                            <div class="col-md-10 col-lg-8 text-center">
                                <h2 class="display-4 mb-md-4 text-center ml-4 ml-md-0 my-3 my-md-0">Sports</h2>
                                <p class="lead text-center pl-4 px-md-0">
                                    Sports has always proven beneficial in the upliftment of the human body and has a positive effect on the mind and the soul. Apart from enriching the personality, you also develop a sense of skills. Here, you are updated with nation-wide news on cricket, football, basketball, rugby and many more.
                                </p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <img src="https://images.unsplash.com/photo-1471295253337-3ceaaedca402?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1496&q=80" 
                        alt="Business Image" class="img-fluid">
                    </div>
                </div>
            </section>


<%- include('./partials/footer'); %> 