.embed-responsive .card-img-top {
    object-fit: fill;
}

#lead-container{
    height: 25em;
}

#lead-card{
    height: 100%;
}

#read-more{
    text-align: center;
}

.centered-image {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.centered-image-container {
    height: 60%;
    width: 100%;
    overflow: hidden;
    position: relative;
}